#header {
	width: 100%;
	display: inline-block;
	height:70px;
	background-color:var(--main-bg-color);
}
#headerContent {
	background-color:var(--content-bg-color);
	max-width: 700px;
	padding-left: 15px;
	padding-right: 15px;
}
#headerTable {
	width: 100%; 
}	
#headerImage {
	text-align: right;
}
img#logo{
	height:70px;
}
#headerDivider {
	height:10px;
	background-color: var(--main-bg-color);;
	position:relative;
	top: 0px; 
}
