@CHARSET "UTF-8";
:root {
  --main-bg-color: #CBC4BC;
  --content-bg-color: white;
  --button-bg-color:#84329B;
  --draggable-bg-color:#64A70B;
  --weekday-bg-color: #CBC4BC;

  --content-text-color:black;
  --button-text-color: white;
  --draggable-text-color: white;
  --weekday-text-color:gray;
  --warn-text-color:orange;
  --alert-text-color:red;
}
* {
margin: 0;
}
body {
  font-family: Arial;
  background-color:var(--main-bg-color);
  }

#content {
  width: 100%;
  height: 100%;
  max-width: 700px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color:var(--content-bg-color);
  color: var(--content-text-color);
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}
#shifts{
	position: relative;
  left: 0px;
  top: 0px;
}
#addShiftForm{
	position: relative;
  left: 0px;
  top: 0px;
  border: 1px solid black;
  display:none;
}
#addShiftTable{
	float:center;
	text-align:center;
	width:100%;
}
.halvCell{
	float:center;
	width:50%;
}
.fullCell{
	text-align:center;
	width:100%;
}
.square {
  width: 70px;
  height: 70px;
  position: relative;
  border-radius: 10px;
  border: 1px solid gray;
  margin-bottom: 5px;
  margin-left: 5px;
  text-align: center;
}
.shift {
  background-color: var(--draggable-bg-color);
  cursor: pointer;
  display: inline-block;
  color: var(--draggable-text-color);
}
.addShift {
    background-color: var(--button-bg-color);
    cursor: pointer;
    color: var(--button-text-color);
    display: inline-block;
}
.weekday {
    line-height: 70px;
    color: var(--weekday-text-color);
    background-color: var(--weekday-bg-color);
}

.info {
  clear: both; 
}
p.pass {
  position:relative;
  top: 10%;
}
p.tid {
  font-size: 0.7em;
  position:relative;
  top: 30%;
}
button {
  height: 30px;
  display: block;
  align-self: center;
  background-color: var(--button-bg-color);
  border-radius: 5px 5px 5px 5px;
  border: none;
  margin: 5px;
  padding: 3px 6px 3px 6px;
  color: var(--button-text-color);
  font-size: 1em;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}
div#result {
    width: 100%;
    background-color: var(--content-bg-color);
    opacity: 1;
    border: 1px solid black;
    line-height: 120%;
    display: inline-block;
    margin-top: 5px;

}
span{
  display: block;
  color: var(--content-text-color);
}
span.alert {
   color: var(--alert-text-color);
}
span.warn {
  color: var(--warn-text-color);
}